.app {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  background-color: #121212;
  color: #fff;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  height: 100%;
  opacity: 1;
  transition: opacity 100ms linear;
}
