// color-control
@function getColor($color, $option: false, $alpha: false) {
  $opacity: if($alpha, $alpha, if(type-of($option) == 'number', $option, false));
  $variant: if(not $option, default, if(type-of($option) == 'number', default, $option));
  $scope: map-get($color-map, $color);

  @return if($opacity, rgba(map-get($scope, $variant), $opacity), map-get($scope, $variant));
}
